<!DOCTYPE html>
<html>
<head>
    <title>Applications - Python Learning Portal</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <h1>Python Learning Portal</h1>
</header>

<nav>
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="features.html">Features</a>
    <a href="applications.html">Applications</a>
    <a href="contact.html">Contact</a>
</nav>

<section>

<h2>Applications of Python</h2>

<div>
    <h3>🌐 Web Development</h3>
    <p>Python is used to develop websites using Flask and Django.</p>

    <h3>🤖 Artificial Intelligence</h3>
    <p>Python is widely used in Artificial Intelligence projects.</p>

    <h3>🧠 Machine Learning</h3>
    <p>Python supports Machine Learning using libraries like Scikit-learn and TensorFlow.</p>

    <h3>📊 Data Science</h3>
    <p>Python helps analyze and visualize data efficiently.</p>

    <h3>⚙️ Automation</h3>
    <p>Python automates repetitive tasks and saves time.</p>

    <h3>🎮 Game Development</h3>
    <p>Python can also be used to create simple games.</p>
</div>

</section>

<footer>
    <p>Created by S. Pavithra</p>
</footer>

</body>
</html>