<!DOCTYPE html>
<html>
<head>
    <title>Python Learning Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header>
    <h1>🐍 PYTHON LEARNING PORTAL</h1>
    <p>Welcome, {{ username }} 👋</p>
</header>

<div class="container">

    <div class="sidebar">

        <h2>📚 Learning Menu</h2>

        <a href="#" onclick="showContent('about')">📖 About</a>

        <a href="#" onclick="showContent('features')">⭐ Features</a>

        <a href="#" onclick="showContent('applications')">💻 Applications</a>

        <a href="#" onclick="showContent('oop')">🧩 OOP Concepts</a>

        <br>

        <a href="/logout">🚪 Logout</a>

    </div>

    <div class="content">

        <div id="about">

            <h2>About Python</h2>

            <div class="card">
                <h3>Introduction</h3>

                <p>
Python is a high-level programming language that is easy to learn and widely used in Web Development, Artificial Intelligence, Data Science and Automation.
                </p>

            </div>

        </div>

        <div id="features" style="display:none;">

            <h2>Python Features</h2>

            <div class="card">

                <h3>Easy to Learn</h3>

                <p>
Python syntax is simple and beginner friendly.
                </p>

            </div>

        </div>

        <div id="applications" style="display:none;">

            <h2>Applications</h2>

            <div class="card">

                <h3>Web Development</h3>

                <p>
Python is used for Flask and Django web applications.
                </p>

            </div>

        </div>

        <div id="oop" style="display:none;">

            <h2>OOP Concepts</h2>

            <div class="card">

                <h3>Class</h3>

                <p>
A class is a blueprint for creating objects.
                </p>

            </div>

        </div>

        <div class="ai-box">

            <h3>🤖 Ask AI Questions</h3>

            <form action="/chatbot" method="POST">

                <input
                type="text"
                name="question"
                placeholder="Ask any Python Question">

                <button type="submit">
                    Ask
                </button>

            </form>

        </div>

    </div>

</div>

<script>

function showContent(page){

document.getElementById("about").style.display="none";

document.getElementById("features").style.display="none";

document.getElementById("applications").style.display="none";

document.getElementById("oop").style.display="none";

document.getElementById(page).style.display="block";

}

</script>

</body>
</html>