<!DOCTYPE html>
<html>
<head>
    <title>Features - Python Learning Portal</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>
    <h1>Python Learning Portal</h1>
</header>

<nav>
    <a href="index.html">Home</a>
    <a href="about.html">About</a>
    <a href="features.html">Features</a>
    <a href="applications.html">Applications</a>
    <a href="contact.html">Contact</a>
</nav>

<section>

<h2>Features of Python</h2>

<ul>
    <li>Easy to Learn</li>
    <li>Simple and Readable Syntax</li>
    <li>Open Source</li>
    <li>Platform Independent</li>
    <li>Object-Oriented Programming</li>
    <li>Large Standard Library</li>
    <li>Fast Development</li>
    <li>Supports AI and Machine Learning</li>
</ul>

<h2>Why Choose Python?</h2>

<p>
Python is one of the most popular programming languages because it is easy to understand, powerful, and widely used in modern software development.
</p>

</section>

<footer>
    <p>Created by S. Pavithra</p>
</footer>

</body>
</html>