<!DOCTYPE html>
<html>
<head>
    <title>Python Learning Portal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<header>
    <h1>Python Learning Portal</h1>
    <p>Learn Python Easily</p>
</header>

<nav>
    <a href="#">Home</a>
    <a href="#">About</a>
    <a href="#">Features</a>
    <a href="#">Applications</a>
    <a href="contact.html">Contact</a>
</nav>

<section>

<h2>About Python</h2>

<p>
Python is a high-level programming language used for Web Development,
Artificial Intelligence, Machine Learning, Automation and Data Science.
</p>

<h2>Python Features</h2>

<ul>
<li>Easy to Learn</li>
<li>Open Source</li>
<li>Object Oriented</li>
<li>Platform Independent</li>
<li>Large Library Support</li>
</ul>

<h2>Applications</h2>

<ul>
<li>Web Development</li>
<li>AI</li>
<li>Machine Learning</li>
<li>Data Science</li>
<li>Automation</li>
</ul>

</section>

<footer>

<p>Created by S. Pavithra</p>

</footer>

</body>

</html>